<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiruijie.mapper.MzMapper">
  <resultMap id="BaseResultMap" type="com.weiruijie.pojo.Mz">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="minzu" jdbcType="VARCHAR" property="minzu" />
  </resultMap>
  <sql id="Base_Column_List">
    id, minzu
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mz
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="minzu" resultMap="BaseResultMap">
  	select * from mz
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weiruijie.pojo.Mz">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mz (minzu)
    values (#{minzu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weiruijie.pojo.Mz">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into mz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="minzu != null">
        minzu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="minzu != null">
        #{minzu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weiruijie.pojo.Mz">
    update mz
    <set>
      <if test="minzu != null">
        minzu = #{minzu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weiruijie.pojo.Mz">
    update mz
    set minzu = #{minzu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>